/* BODY {
    background-color: black;
    margin: 20px auto 20px auto;
   }
  
  .equalizer {
    text-align: center;
    margin: 10px auto;
    width: 380px;
  }
  
  .column {
    display: inline-block;
    width: 40px;
    margin: 5px;
  }
  
  #purple {
    height: 160px;
    background-color: #8800FF;
  }
  
  #blue {
    height: 140px;
    background-color: #0022FF;
  }
  
  #cyan {
    height: 100px;
    background-color: #22FFFF;
  }
  
  #green {
    height: 140px;
    background-color: #00BB00;
  }
  
  #yellow {
    height: 180px;
    background-color: #FFFF00;
  }
  
  #orange {
    height: 70px;
    background-color: #FF6600;
  }
  
  #red {
    height: 200px;
    background-color: #FF0000;
  }
  
  #black {
    display: inline-block;
    height: 240px;
    width: 1px;
    background-color: #000000;
  } */