
body{
  background: url('https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwitk-uuy97fAhVKJt8KHWriCgAQjRx6BAgBEAU&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fsites.psu.edu%252Fsiowfa15%252F2015%252F12%252F04%252Fcant-dance-there-might-be-a-reason-why%252F%26psig%3DAOvVaw1tq9evpjpkqkzpHoCd0-0I%26ust%3D1547049568788429&psig=AOvVaw1tq9evpjpkqkzpHoCd0-0I&ust=1547049568788429') no-repeat center;
  margin-top: 150px;
}

.span{
  width: 100px;
  height: 100px;
  background-color: red; 
  position: relative;
  -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 5s linear 2s infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.flex-container {
  display: flex;
  margin-top: 150px
  
  
}
   
.btn {
    background-color: rgb(245, 3, 3);
  
    justify-content: safe 
  
   
}
  
  
 .circle{
  width:900px;
  height:900px;
  border-radius:450px;
  font-size:20px;
  line-height:100px;
  text-align:center;
  background:rgb(8, 8, 8)
  

  
}

#content {
  width: 900px ;
  margin-left: auto ;
  margin-right: auto ;
  position: relative;
}

.img {
  
  margin-top: 225px;
  
  


}
    


