body{
    background-color: grey;

}
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: aqua
   
    
    
  }
  
.btn {
   
    width: 200px;
    margin: 15px;
    text-align: center;
    line-height: 420px;
    font-size: 30px;
}
    


