body{
  background-color: black;
}
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: black;
   
    
    
  }

  .bg-info {
    background-color: black!important;
    display: flex;
    justify-content: center;
  }
  
.btn {
    width: 200px;
    margin: 15px;
    /* background-image: url(https://media.giphy.com/media/2eK5fWkZwRBhNhbC1h/giphy.gif); */
    text-align: center;
    line-height: 420px;
    font-size: 30px;
    color: red;
}
    


